<div class="container">
    <nav class="assignementsNavigation">
    <button id="Forthcomming">Forthcomming</button>
    <button id="Pastdue">Past due</button>
    <button id="Completed">Completed</button>
</nav>
</div>

