@model Biz.Models.Models.Roles.RoleViewModel
<h1>Create a New Role</h1>

<form asp-action="CreateRole" method="post">
    <input type="text" asp-for="Name" required/>
    <button type="submit">Create Role</button>
</form>

